@page "/employees"
@inject EmployeesService employeesService

<h1>Employee List</h1>

@if (employees == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Full name</th>
                <th>Department</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var emp in employees)
            {
                <tr>
                    <td>@emp.Id</td>
                    <td>@emp.FullName</td>
                    <td>@emp.Department</td>
                    <td>@emp.Salary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<Employee> employees;

    protected override async Task OnInitializedAsync()
    {
        employees = await employeesService.GetEmployeesAsync();
    }
}
